<div ng-hide="showSearch" layout="row" class="md-toolbar-tools">

  <div hide-sm hide-xs  class="toolbar-small-text"> {{UtsaSchedScheduleService.data.endu.metar}}</div>
  <div hide-sm hide-xs  class="toolbar-small-text"> {{UtsaSchedScheduleService.data.endu.taf}}</div>

  <div flex   hide-sm hide-xs  layout-align="center center"><div>{{$location.host()}}</div></div>

  <div   class="md-toolbar-tools" layout="row" layout-align="end center">
    <md-button class="md-icon-button" aria-label="Search" ng-click="showSearch = !showSearch">
      <md-icon md-font-set="material-icons">search

      </md-icon>
    </md-button>

    <div>
      <md-icon md-font-set="material-icons">cloud</md-icon>
    </div>
    <p> &nbsp {{UtsaSchedScheduleService.data.condition}} &nbsp&nbsp</p>

    <div>
      <md-icon hide-sm hide-xs hide-md md-font-set="material-icons">access_time</md-icon>
    </div>
      <p hide-sm hide-xs hide-md> &nbsp {{ clock | date:'HH:mm:ss'}}  </p>

  </div>
</div>
<div ng-show="showSearch" class="md-toolbar-tools">

  <md-button aria-label="Back" ng-click="showSearch = !showSearch">
    <md-icon md-font-set="material-icons">arrow_back
    </md-icon>
  </md-button>

  <md-input-container md-theme="input" flex>
    <label>&nbsp;</label>
    <input ng-model="searchText" placeholder="enter search">
  </md-input-container>

</div>
