<!-- Toolbar navigator -->
<md-toolbar md-scroll-shrink class="md-whiteframe-z3">
  <div layout="row" id="navbar" class="md-toolbar-tools">
    <md-button id="toggle-sidebar" ng-if="sidebar==true" class="md-icon-button" aria-label="Toggle sidenav"
               ng-click="navCtrl.toggleRight()">
      <md-icon md-font-set="material-icons">menu</md-icon>
      <md-tooltip>
        <span translate="COMMON_TOGGLE_SIDEBAR"></span>
      </md-tooltip>
    </md-button>
    <div hide show-gt-sm>
      <100ll-system-toolbar></100ll-system-toolbar>
      <!--<100ll-usermanager-toolbar></100ll-usermanager-toolbar>-->
      <100ll-map-toolbar></100ll-map-toolbar>
      <100ll-device-toolbar></100ll-device-toolbar>
      <100ll-groupbrowser-toolbar></100ll-groupbrowser-toolbar>
      <100ll-app-browser-toolbar></100ll-app-browser-toolbar>
    </div>


    <md-menu hide-gt-sm>
      <md-button aria-label="Open menu" class="md-button" ng-click="$mdOpenMenu()">
        <md-icon md-menu-origin md-font-set="material-icons">apps</md-icon>
        Menu
      </md-button>
      <md-menu-content width="4" id="map-nav">
        <md-menu-item>
          <100ll-system-toolbar></100ll-system-toolbar>
        </md-menu-item>
        <md-menu-item>
          <100ll-map-toolbar></100ll-map-toolbar>
        </md-menu-item>
        <md-menu-item>
          <100ll-device-toolbar></100ll-device-toolbar>
        </md-menu-item>
        <md-menu-item>
          <100ll-groupbrowser-toolbar></100ll-groupbrowser-toolbar>
        </md-menu-item>
        <md-menu-item>
          <100ll-app-browser-toolbar></100ll-app-browser-toolbar>
        </md-menu-item>
      </md-menu-content>
    </md-menu>


    <!-- fill the middle area -->
    <span flex> </span>

    <100ll-notificator-toolbar></100ll-notificator-toolbar>
    <100ll-profile-toolbar></100ll-profile-toolbar>

  </div>
</md-toolbar>
<!-- Breadcrumb navigator -->
