<div layout="row" layout-align="center center" layout-padding>
  <form name="utsa-schedLoginForm" layout-padding layout="column">
    <md-input-container class="md-icon-float">
      <md-icon md-font-set="material-icons">cloud</md-icon>
      <input ng-model="credentials.realm" id="realm" name="realm" md-minlength="4" required type="text" placeholder="Realm">
    </md-input-container>

    <md-input-container class="md-icon-float">
      <md-icon md-font-set="material-icons">person</md-icon>
      <input ng-model="credentials.user" id="user" name="user" md-minlength="4" required type="text" placeholder="Username">
    </md-input-container>

    <md-input-container class="md-icon-float">
      <md-icon md-font-set="material-icons">*</md-icon>
      <input ng-model="credentials.password" id="password" name="password" md-minlength="4" required type="password"
             placeholder="Password">

      <div ng-messages="projectForm.password.$error">
        <div ng-message="error"><span ng-bind="error"></span></div>
      </div>
    </md-input-container>

      <md-button name="login" id ="login" class="md-raised md-primary" ng-click="login()">Log in</md-button>
  </form>
</div>
