<md-menu md-offset="0 60" ng-show="auth.user.name" id="utsa-sched-profile-toolbar">
  <!-- Trigger element is a md-button with an icon -->
  <md-button ng-click="$mdOpenMenu($event)" aria-label="Open profile menu">
    <md-icon md-font-set="material-icons">person</md-icon>
    <span ng-bind="auth.user.name"></span>
  </md-button>
  <md-menu-content>
    <md-menu-item>
      <md-subheader class="md-no-sticky" layout="column">
        Logged in as <span ng-bind="auth.user.login"></span>
      </md-subheader>
    </md-menu-item>
    <md-menu-item>
      <md-button ui-sref="user({userId: auth.user.id})">
        My Account
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button ng-click="logOut()">
        Log out
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
